<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Document Name</th>
     	<th>Document owner</th>
			 <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sign_user_requested.each do |request_user| %>
      <tr>
        <td><%= GetDocumentBySignatureRequestUserService.new(request_user['id']).call['name'] %></td>
        <td><%=  %></td>
        <td><%= link_to 'Sign Document', sign_user_sign_user_path(request_user['id']), method: :post%></td>
      </tr>
    <% end %>
  </tbody>
</table>
