<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Document Name</th>
     	<th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests_by_user.each do |request| %>
      <tr>
        <td><%= HTTParty.get("http://52.240.59.172:8000/api/v1/files/#{request['document']}/").parsed_response['name']%></td>
        <td><%= request['subject'] %></td>
        <td><%= link_to 'Request User Sign', request_request_sign_path(request['id'])%></td>
      </tr>
    <% end %>
  </tbody>
</table>
